:root {
  --side-padding: 0 24px;
  --topBottom-padding: 24px;

  --first-color: #a2faa3;
  --second-color: #92c9b1;
  --third-color: #2e5273;
  --neutral-color: #131200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Lato", sans-serif;
}

.app {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}

/* NavBar Styles */
.navBar {
  width: 100%;
  height: auto;
  padding: var(--side-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;

  border-bottom: 1px solid #13120015;
}

.logoImg {
  width: 85px;
  cursor: pointer;
}

.logoImg:hover {
  -webkit-animation: logoImg 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: logoImg 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.actionCall-burger-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.contactButton {
  background-color: var(--first-color);
  color: var(--neutral-color);
  font-weight: 900;
}

.contactButton:hover {
  background-color: #6bc06e;
}

@-webkit-keyframes logoImg {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes logoImg {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
/* NavBar Styles */

/* Header Styles */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  padding: var(--side-padding);
  text-align: center;
}

.header h1 {
  font-size: 40px;
  font-weight: 900;
}

.header-h2s-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.header-h2s-container h2 {
  font-weight: 500;
  font-size: 16px;
  font-style: italic;
}

.contactButton-outline {
  color: var(--third-color);
  border: 2px solid var(--third-color);
  font-weight: 900;
}

.contactButton-outline:hover {
  background-color: #2e527327;
}

.icons-container {
  width: 100%;
  display: flex;
  gap: 32px;
  place-content: center;
}

.icons-container img {
  width: 52px;
}
/* Header Styles */

/* Main Styles */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding: var(--side-padding);
  text-align: center;
}

.whoWeAre-container,
.wahtWeOffer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border-radius: 24px;
  padding: 28px;
}

.whoWeAre-container h2,
.wahtWeOffer-container h2 {
  font-size: 24px;
  font-weight: 900;
}

.whoWeAre-container p,
.wahtWeOffer-container {
  font-size: 16px;
}

.whoWeAre-container {
  background-color: var(--first-color);
}

.wahtWeOffer-container {
  background-color: var(--second-color);
}

.card {
  width: 240px;
}

.card-group {
  display: flex;
  flex-direction: column;
}

.tagCard {
  background-color: var(--second-color);
  color: white;
  padding: 12px 16px;
  width: auto;
}

.cardButton {
  background-color: var(--third-color);
  color: white;
}

.cardButton:hover {
  background-color: #2e5273d5;
}

.articlesSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.articlesContainer {
  width: 100%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 24px;
  border: 2px solid var(--third-color);
  border-radius: 16px;
  padding: 24px 0;
  overflow: scroll;
}

.articlesContainer::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

.articlesContainer::-webkit-scrollbar-track {
  background-color: #1312002a;
  border-radius: 16px;
}

.articlesContainer::-webkit-scrollbar-thumb {
  background-color: #1312002d;
  border-radius: 16px;
}

.articlesContainer::-webkit-scrollbar:horizontal {
  display: none;
}
/* Main Styles */

/* Contact Section Styles */
.contactSection {
  width: 100%;
}

.contactSection form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.contactSection form > * {
  margin: 0;
}

.contactSection form h2 {
  text-align: center;
}

.submitButton {
  width: 100%;
  background-color: var(--third-color);
}
/* Contact Section Styles */

/* Footer Styles */
.footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131200f1;
  color: var(--first-color);
  padding: var(--side-padding);
  padding-top: var(--topBottom-padding);
  padding-bottom: var(--topBottom-padding);
}

.footer-logoContainer {
  width: 72px;
}

.footer-logoContainer img {
  width: 100%;
}

.webLinks {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.webLinks a {
  width: 100%;
  color: var(--first-color);
  text-decoration: none;
  font-size: 12px;
}

.webLinks a:hover {
  text-decoration: underline var(--first-color);
}

.contact-socialMedia {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.contact-socialMedia a {
  width: 28px;
}
.contact-socialMedia a:hover {
  width: 32px;
  cursor: pointer;
}

.contact-socialMedia a img {
  width: 100%;
}
/* Footer Styles */
